body {
  background-color: #eee;
}

header {
  min-height: 75px;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  background-color: #eee;
}

.logo img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

#nav-bar {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
}

#nav-bar > ul {
  display: flex;
  flex-direction: row;
}

ul a {
  text-decoration: none;
  color: black;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.custom-sec {
  height: 100vh;
  padding-top: 100px;
}

.hero h2 {
  /* margin-bottom: 20px; */
  word-wrap: break-word;
}

.hero form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form button {
  margin-top: 10px;
}

.feature h1 {
  font-size: 24px;
  font-weight: 500;
}

.feature {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-block: 50px;

  /* align-items: center; */
}

.cards {
  margin-top: 210px;
  display: flex;
  flex-direction: row;
  padding: 70px 20px;
}

.card {
  margin: 0 10px;
  background-color: #eee;
}

.how-it-works {
  display: flex;
  justify-content: center;
  height: 400px;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footers {
  display: flex;
  justify-content: center;
  list-style: none;
}

footer > ul li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  color: #444;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 18px;
  }
}
